<a href="https://colab.research.google.com/github/swapnilbotu/FLCMLBootcamp25Swapnil/blob/main/4_DataScience_TakeHome.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Problem statement

#### Using 'transaction history' and 'grocery inventory' (imported in below code snippets), answer the questions below:

In [11]:
import json
import os
import pandas as pd
import requests
from IPython.display import display # Import display

In [12]:
# Fetch the JSON 'grocery inventory' data from the URL
url = 'https://raw.githubusercontent.com/shashankbl/mlbootcamp2025flc/main/extras/grocery_inventory.json'  # Use 'raw.githubusercontent.com'
try:
    response = requests.get(url)
    response.raise_for_status()  # Raise an exception for bad status codes
    data = response.json()
except requests.exceptions.RequestException as e:
    print(f"Error fetching JSON from URL: {e}")
    data = {}  # Initialize as empty dictionary in case of error

# Convert the JSON data to a Pandas DataFrame
try:
    inventory_df = pd.DataFrame(data)
    display(inventory_df) # Display the DataFrame using display() for pretty print
except (ValueError, KeyError) as e:
    print(f"Error converting JSON to DataFrame: {e}")
    if data:
        print("JSON data loaded but could not be formatted as a table")

               item   category  quantity  unit_cost  max_quantity
0            tomato  vegetable      1000       0.10            10
1             apple      fruit       504       0.25             5
2            orange      fruit       400       0.05            10
3        strawberry      fruit       430       0.08            15
4             onion  vegetable       254       0.20             8
5            carrot  vegetable       204       0.05            15
6            pepper  vegetable       540       0.10            15
7          eggplant  vegetable       150       0.30             5
8          broccoli  vegetable       167       2.50             2
9             beans  vegetable       135       2.00             3
10             milk      dairy       254       3.50             3
11           yogurt      dairy       160       5.00             5
12           cheese      dairy       285       3.00             3
13         icecream    dessert       150       2.00            10
14            mochi    dessert       170       1.50             5
15             soda  beverages       240       1.75            15
16  sparkling_water  beverages       286       1.50            12

In [13]:
# Fetch the JSON 'transaction history' data from the URL
url = 'https://raw.githubusercontent.com/shashankbl/mlbootcamp2025flc/main/extras/transaction_history.json'  # Use 'raw.githubusercontent.com'
try:
    response = requests.get(url)
    response.raise_for_status()  # Raise an exception for bad status codes
    data = response.json()
except requests.exceptions.RequestException as e:
    print(f"Error fetching JSON from URL: {e}")
    data = {}  # Initialize as empty dictionary in case of error

# Convert the JSON data to a Pandas DataFrame
try:
    transaction_df = pd.DataFrame(data)
    display(transaction_df) # Display the DataFrame using display() for pretty print
except (ValueError, KeyError) as e:
    print(f"Error converting JSON to DataFrame: {e}")
    if data:
        print("JSON data loaded but could not be formatted as a table")

,id,customer,date,quantities,transaction_duration
0,0001,bob,"[2025, 1, 10]","{'apple': 6, 'milk': 2, 'orange': 10}",12.5
1,0002,martha,"[2025, 1, 10]","{'strawberry': 16, 'milk': 3}",2.5
2,0003,zed,"[2025, 1, 10]","{'milk': 6, 'yogurt': 4, 'mochi': 5}",4
3,0004,frank,"[2025, 1, 10]","{'onion': 10, 'carrot': 13, 'milk': 3, 'strawb...",6.5
4,0005,bob,"[2025, 1, 10]","{'onion': 20, 'carrot': 8, 'milk': 1, 'strawbe...",12.5
5,0006,suzy,"[2025, 1, 10]","{'eggplant': 6, 'apple': 2}",10.5
6,0007,mia,"[2025, 1, 11]","{'apple': 6, 'milk': 2, 'beans': 12, 'mochi': 4}",12.5
7,0008,mick,"[2025, 1, 11]","{'cheese': 8, 'mochi': 4}",4.5
8,0009,bruce,"[2025, 1, 11]","{'apple': 8, 'milk': 1, 'eggplant': 4}",3.5
9,0010,frank,"[2025, 1, 11]","{'soda': 16, 'milk': 12}",9.5
10,0011,steve,"[2025, 1, 11]","{'tomato': 6, 'beans': 2, 'onion': 6}",9.5
11,0012,frank,"[2025, 1, 11]","{'pepper': 6, 'strawberry': 12}",2.5
12,0013,steve,"[2025, 1, 12]","{'strawberry': 16, 'soda': 12, 'carrot': 4, 'e...",15.5
13,0014,martha,"[2025, 1, 12]","{'apple': 6, 'milk': 2}",8.5
14,0015,samantha,"[2025, 1, 12]","{'mochi': 6, 'milk': 2}",5.5
15,0001,suzy,"[2025, 1, 12]","{'soda': 10, 'milk': 2}",2.5
16,0016,sam,"[2025, 1, 12]","{'apple': 6, 'milk': 2, 'beans': 2, 'onion': 6}",10.5
17,0017,star,"[2025, 1, 12]","{'apple': 4, 'milk': 2}",2.5
18,0018,bob,"[2025, 1, 12]","{'onion': 6, 'carrot': 2}",3.5
19,0019,mercy,"[2025, 1, 12]","{'mochi': 6, 'eggplant': 2}",6.5
20,0020,martha,"[2025, 1, 12]","{'apple': 6, 'milk': 2}",1.5
21,0021,steve,"[2025, 1, 13]","{'strawberry': 10, 'soda': 10, 'carrot': 6, 'e...",12.5
22,0022,bruce,"[2025, 1, 13]","{'apple': 6, 'milk': 2, 'eggplant': 5}",7.5
23,0023,mick,"[2025, 1, 14]","{'carrot': 6, 'soda': 2}",3
24,0024,mia,"[2025, 1, 15]","{'apple': 6, 'milk': 2, 'onion': 10, 'carrot':...",6.5
25,0025,suzy,"[2025, 1, 15]","{'beans': 2, 'onion': 6}",2
26,0026,bruce,"[2025, 1, 18]","{'carrot': 6, 'beans': 12, 'onion': 6, 'apple'...",10
27,0027,frank,"[2025, 1, 18]","{'apple': 6, 'onion': 10, 'carrot': 13, 'milk'...",7
28,0028,mick,"[2025, 1, 18]","{'apple': 6, 'milk': 2, 'carrot': 6, 'beans': ...",9

**NOTE:**
- You are allowed to format the dataframes as you prefer.
- You are encouraged to also optimize/improve the code snippets provided.
- You can import other libraries required for the analysis and visualization.
- Write conclusions/answers for each question in a 'text cell'.

### Calculate the value of prior transactions.

In [4]:
# Write code here...

### How many transactions violated the 'max quantities' rule?

In [5]:
# Write code here...

### Track the popularity of items in the grocery store by factoring the transaction quantities (histogram representation)

In [6]:
# Write code here...

### Average transaction per day (ignore days with no transaction as they were holidays)

In [7]:
# Write code here...

### Identify the three least efficient transactions and three most efficient transactions (based on revenue/min metric)

In [8]:
# Write code here...

### Create a visualization of individual items sold over time

In [9]:
# Write code here...

### Based on the transaction history, calculate the total inventory at store opening (prior transaction quantities + current inventory quantities)

In [10]:
# Write code here...